
@{
    ViewData["Title"] = "Index";
}

@section header{ 
<p> @ViewBag.myobject.MyGuid</p>
}

<input asp-for="Email" class="form-control" />

<h3>
   My Value
</h3>

@await Html.PartialAsync("~/Views/Shared/FirstPartialView.cshtml")

